<h1 class="rc-art-page__title"><%= title %></h1>

<div class="rc-art-page">
	<% artData.forEach(function(art) {%> 
		<div class="rc-art-page__container-img">
			<div data-toggle="modal" data-target="#<%= art.fileName %>">
				<img class="rc-art-page__img" src="../images/<%= art.imagePath %>.jpg">
			</div>
		</div>

		<div class="modal fade" id="<%= art.fileName %>" tabindex="-1" role="dialog" aria-labelledby="landscapesModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content rc-art-modal">
		      <div class="modal-body rc-art-modal__body">
		      	<img class="img-responsive" src="../images/<%= art.imagePath %>.jpg">
		      	<h1><%= art.title %></h1>
      			<p><%= art.type %></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary rc-art-modal__btn" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<%});%>
</div>